.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items
    : center;
    gap: 30px;
    padding: 100px;
}
.products-summary{
    background-color: #FF9900;
    text-align: center;
}